/* INTENTIONALLY UGLY STARTER STYLES */
/* These styles are very, very ugly. */
/* Time to make them attractive, legible, and usable */

body {
    font-family: Times, serif;
    background-color: #ff00ff;
    margin: 0 auto;  /* center of the page */
    padding: 0;
    width: 50%;
}

.recipe-container {
    background-color: yellow;
    border: 10px solid red;
    margin: 10px;
    padding: 5px;
}

.recipe-header {
    background-color: lime;
    text-align: center;
}

.recipe-title {
    color: red;
    font-size: 40px;
    text-decoration: underline;
}

.recipe-meta {
    background-color: orange;
    /* border: 2px dashed purple; */
}

/* time bar setting */
.time-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bar {
  flex: 1;
  height: 6px;
  background: #ddd;
  border-radius: 999px;
  position: relative
}

.fill {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 999px;
}

.time-start,
.time-end {
  font-size: 14px;
}

/* recipe description setting */
.recipe-description {
    background-color: aqua;
    font-size: 8px;
    color: purple;
}

.ingredients-section {
    background-color: pink;
    border: 3px solid brown;
}

.ingredients-list {
    list-style: none;
}

.ingredients-list li {
    background-color: white;
    border: 1px solid black;
    margin: 2px;
    padding: 1px;
}

.instructions-section {
    background-color: lightgray;
    border: 3px solid navy;
}

.instruction-step {
    background-color: beige;
    border: 1px solid black;
    margin: 3px;
}

.recipe-footer {
    background-color: violet;
    text-align: right;
    font-size: 6px;
}

.recipe-image {
    width: 50px;
    height: 50px;
    border: 5px solid black;
}

* {
    margin: 2px;
    padding: 1px;
}

@media (max-width: 500px) {
  .recipe-container {
    width: 100%;
  }
}